<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name='viewport' content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>InvestigAnimales</title>
        <link rel='stylesheet' type="text/css" media='screen' href="{% static 'InvestigAnimalesApp/css/bootstrap.min.css' %}">
        <link rel='stylesheet' type="text/css" media='screen' href="{% static 'InvestigAnimalesApp/css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">InvestigaAnimales</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'quienessomos'%}">Quienes somos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'objetivo' %}">Nuestro objetivo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contactanos'%}">Contáctanos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'animales' %}">Listado de animales</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Cierra sesión</a>
                </li>
                {%else%}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Inicia sesión</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signup' %}">Registrate</a>
                </li>
                {%endif%}
              </ul>
            </div>
        </nav>

        <h3><b>Conoce un poco sobre animales fantasticos:</b></h3>

        <div class="card-deck">
          {%for animal in listaAnimales%} 
          <div class="card text-white bg-dark mb-3" style="width: 18rem;">
            <img src="{{animal.imagen.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{animal.nombre}}</h5>
              <p class="card-text">{{animal.descripcion}}</p>
              <a href="{{animal.url}}" target="_blank" class="btn btn-primary">Aprende mas sobre el!</a>
            </div>
          </div>          
          {%endfor%}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type='text/javascript' src="{% static 'InvestigAnimales/js/bootstrap.min.js' %}"></script>
    </body>
</html>